.btn{

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  background: DodgerBlue;

  font-size: 20px;

  color: white;

  padding: 10px 30px;

  cursor: pointer;

}


#box{

  width: 500px;

  overflow: hidden;

  background: DodgerBlue;

  box-shadow: 0 0 10px black;

  border-radius: 10px;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 9999;

  padding: 10px;

  text-align: center;

  display: none;

}

#filebox{

  width: 800px;
  height:70%;

  overflow: hidden;

  background: DodgerBlue;

  box-shadow: 0 0 10px black;

  border-radius: 10px;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 9999;

  padding: 10px;

  text-align: center;

  display: none;

}

#box span{

  color: blue;

  font-size: 40px;

  display: block;

  margin: 20px 0;

}

#filebox span{

  color: blue;

  font-size: 40px;

  display: block;

  margin: 20px 0;

}

#box h1{

  color: brown

}

#viewbox{

  width: 800px;
  height:70%;

  overflow: hidden;

  background: DodgerBlue;

  box-shadow: 0 0 10px black;

  border-radius: 10px;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 9999;

  padding: 10px;

  text-align: center;

  display: none;

}

#viewbox span{

  color: blue;

  font-size: 40px;

  display: block;

  margin: 20px 0;

}



.close{

  font-size: 18px;

  color: white;

  padding: 10px 20px;

  cursor: pointer;

  background: rgb(111, 111, 223);

  display: inline-block;

  border-radius: 1px solid #000;

}